<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    
  <bean id="cc" class="Autowiring.Employee" autowire="byType">
  <property name="name" value="Rashi"></property>
  </bean>
  
  <bean id="add" class="Autowiring.Address">
   <property name="hno" value="hno.2222"></property>
    <property name="city" value="Gurgaon"></property>
       <property name="state" value="Haryana"></property>
    <property name="pincode" value="122003"></property>
  </bean>
  
    <bean id="dept" class="Autowiring.Department">
   <property name="Dno" value="111"></property>
    <property name="name" value="CSE"></property>
       
  </bean>
    
    
    </beans>